body {
    padding-top: 5rem;
}

.profile-card{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.top{
    background-color: rgb(3, 144, 187);
    line-height: 10px;
    width: 100%;
    height: max-content;
    color: white;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    margin: 10px 0 15px 0;
}

.pcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.sections{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    line-height: 3px;
}

.posts{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.following{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.followers{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.desc{
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.num{
    font-weight: bold;
}

button{
    width: 130px;
    height: 40px;
    background-color: rgb(25, 139, 233);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.596);
}